
.svn
{
	background-color: black;
	color: white;
	width: 100%;
	height: 30px;
	padding-top: 15px;
	border-radius: 5px;
}
.svn1
{
	color: white;
    font-size: 80px;
    margin-top: 7%;
	
}
.svn>i
{
	padding-left: 30px;
	padding-right: 30px;
	text-align: center;
	font-size: 15px;
}
.svn>i:hover
{
	color:orange;
    transform: scale(2.1);

}
input[type="text"]
{
	margin-top:30px;
	width: 900px;
	height: 35px;
	border-radius:40px;
	border-color: orange;
	font-size: 20px;
}
.a{color: blue;}
.b{color: red;}
.c{color: yellow;}
.d{color: blue;}
.e{color: green;}
.f{color: red;}
.s{color: blue;}
.s1{color:#10A8F4;}
.s2{color: #3BE4F0;}
.s3{color: #DB4112;}
.s4{color:red;}
.s5{color: #0ECD15;}
.s6{color:#14E31B ;}
.vtn > span
{
background-color: white;
border-color: #10A8F4;
border-radius: 5px;
padding-top:25px;
margin:40px;


}
.vtn{
	margin-top:30px;

}


