.s 
	{
		    margin-top: 120px;
		    font-size:20px;

	}
.a{
	        padding-right: 20px;
	        color:white;
			padding-top: 100px;
	        text-align: center;
			padding-top: 15px;
			margin-bottom: 2px; 
			background-color:#1626B6; 
			width: 400px;
			height: 50px;
			position: relative;
		}
		.a:hover
		{
			transform: scale(1.1);
		}
		.b
		{
		 color: white;

			padding-top: 100px;
	        text-align: center;
			padding-top: 15px;
			margin-bottom: 2px; 
			background-color:#6DEFE7; 
			width: 400px;
			height: 50px;
			position: relative;

		}.b:hover
		{
			transform: scale(1.1);
		}
		.c
		{   color: white;
			padding-top: 100px;
	        text-align: center;
			padding-top: 15px;
			margin-bottom: 2px; 
			background-color:#CC5214; 
			 position: relative;
			width: 400px;
			height: 50px;

		}.c:hover
		{
			transform: scale(1.1);
		}
		.d
		{  color: white;
			padding-top: 100px;
	        text-align: center;
			padding-top: 15px;
			margin-bottom: 2px; 
			background-color:#23AAE4; 
			width: 400px;
			height: 50px;
			position: relative;

		}.d:hover
		{
			transform: scale(1.1);
		}
		.e
		{   color: white;
			padding-top: 100px;
	        text-align: center;
			padding-top: 15px;
			margin-bottom: 2px; 
			background-color: #2AEF5E;
			width: 400px;
			height: 50px;
			position: relative;

		}.e:hover
		{
			transform: scale(1.1);
		}
		.f
		{   color: white;
			padding-top: 100px;
	        text-align: center;
			padding-top: 15px;
			margin-bottom: 2px; 
			background-color:red; 
			width: 400px;
			height: 50px;
			position: relative;}.f:hover
		{
			transform: scale(1.1);
		}

.fab{
	float: left;
	margin-left: 30px;
}
.likepage{
	float: right;
	margin-right: 20px;
	font-size: 18px;
}		
.border{
	border-right: 2px solid white;
	padding: 5px 0px;
}
.fb{
	margin: 0px 80px;
}